<template name="postdetail">
	<!-- Container (Post) -->
  <div id="post-detail" class="post-detail">
		<h1>Community News</h1>
		{{# if Template.subscriptionsReady }}
			{{# with post }}
				<div id="post-detail" class="post-detail">
					<h3>
						{{ title }}
						<small>by {{ getCreator.profile.name }}</small>
					</h3>
					{{# if image }}
						<div class="image" style="background-image: url({{ image.url }})"></div>
					{{/ if }}
					<br>
					<div id="content" class="content">
						{{{ body }}}
					</div>
				</div>
 			{{ else }}
				<h3>
					Post Not found
				</h3>
			{{/ with }}
		{{ else }}
			<h3>
				Loading...
			</h3>
		{{/ if }}
	</div>
</template>
