@import "{}/client/styles/components/_variables.scss";

.social {
  background-color: #263139;
}
.copyright {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #546e7a;
  color: white;
  margin-top: 0;
}

.footer-section {
    color: #7f8890;
    padding-top: 20px;
    margin-top: 0;
  .glyphicon {
      color: $pink-darken;
      font-size: 20px;
  }
  ul
  {
    padding-left: 0;
    li
    {
      display: inline-block;
    }
  }
}
