@import "{}/client/styles/components/_variables.scss";
@import "{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/variables";


  .content * {
    font-family: "Letter Gothic Std", Menlo, Monaco, Consolas, "Courier New", monospace !important;
  }

  .home-section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    padding-top: 70px;
    padding-bottom: 100px;
    margin-top: 51px;
    background-color: $brand-primary;
  }

  .services-section {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 70px;
    height: 300px;
    .p {
        font-size: 10px;
      }
    /* Color del tema a toda la typografy */
    .glyphicon {
        color: $pink-darken;
        font-size: 50px;
    }
  }
