@import "{}/client/styles/components/_variables.scss";

.post-section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 700px;
//  padding-top: 60px;
//  padding-bottom: 100px;
  margin-top: 55px;
  margin-left: 50px;
//  background-color: $brand-primary;
  .content * {
    font-family: "Letter Gothic Std", Menlo, Monaco, Consolas, "Courier New", monospace !important;
  }
  h3 {
      font-size: 20px;
      padding-bottom: 10px;
    }
}

.post-detail {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 700px;
//  padding-top: 60px;
//  padding-bottom: 100px;
  margin-top: 55px;
  margin-left: 50px;
//  background-color: $brand-primary;
  .content * {
    font-family: "Letter Gothic Std", Menlo, Monaco, Consolas, "Courier New", monospace !important;
  }
  h3 {
      font-size: 20px;
      padding-bottom: 10px;
    }
}
.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
