<template name="home">

  <!-- Container (Home) -->
  <div id="home-section" class="home-section text-center">
    <h2>Condomminus Plus System</h2>
    <h3>The Next Generation Condo Management Software</h3>
    <form class="form-inline">
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Subscríbase</button>
    </form>
  </div>

  <!-- Container (Services) -->
  <div id="services-section" class="services-section text-center">
    <h2>Solves Real Condo Management Problems</h2>
    <h3>Simplify Condo Management Tasks</h3>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-bullhorn logo-small"></span>
        <h4>Broadcast Announcements</h4>
        <p>Easily broadcast announcements for scheduled maintenance, events and emergencies to all residents...</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-calendar logo-small"></span>
        <h4>Manage Facility Bookings</h4>
        <p>Booking conference rooms or BBQ pit is now only a few clicks away. No more phone calls & messy log books....</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4>Incident Reports</h4>
        <p>Create complete Incident Reports for managers....</p>
      </div>
      <br>
    </div>
  </div>
</template>
